{% set navigation_bar = [
    [url('index'), '<i class="icon-home"></i> Home'],
    [url('api'), '<i class="icon-fire"></i> API'],
    [url('help'), '<i class="icon-info-sign"></i> Help'],
    ['http://www.labinskiy.org.ua', '<i class="icon-user"></i> Contact']
] %}
{% set active_page = active_page|default('index') %}
{% set active_url = url(active_page) %}

<div class="masthead">
    <ul class="nav nav-pills pull-right">
        {% for item in navigation_bar %}
            <li{% if item[0] == active_url %} class="active"{% endif%}>
                <a href="{{ item[0] }}">{{ item[1]|raw }}</a></li>
        {% endfor %}
    </ul>
    <h3 class="muted">Address book</h3>
</div>